html{
    overflow-x:hidden; 
    height: 100%;
    
}

body{
    margin: 0;
    padding: 0;
    font-family: Calibri, 'Trebuchet MS', sans-serif ;
    text-align: justify;
    align-content: center;
    font-size: 1em;
    line-height: 20px;
    color: #333;
    
    background: url("images/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}

p{
    color: white;
    font-family: Arcon, 'Agency FB', Helvetica, sans-serif ;
    font-weight: lighter;   
    font-size: 3em;
}

img {
    max-width: 100%;
    height: auto;
}

.myForm{
    background-color: rgba(black, black, black, .5);
}

.myButton {
	
	background-color:transparent;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:2px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:8px 10px;
	text-decoration:none;
	
}
.myButton:hover {
	background-color:transparent;
}
.myButton:active {
	position:relative;
	top:1px;
}



.center{
    display: block;
    margin: auto;
}

.header-container{
    padding:50px 100px 50px 100px; 
}

.landing-page{
    text-align: center;
}

.logo img{
    width: 300px;
    height: auto;
}

.content-divider{
    margin-bottom: 10px;
    border-style: solid none none none;
    border-width: 1px;
    border-color: white;
    
}